---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-no-recursion,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -bugprone-easily-swappable-parameters,
  -modernize-macro-to-enum

WarningsAsErrors: '*'
