[submodule "lib/log.c"]
	path = lib/log.c
	url = git@github.com:rxi/log.c.git
[submodule "lib/Unity"]
	path = lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = git@github.com:cofyc/argparse.git
